nav{
	display: flex;
	justify-content: space-evenly;
	background: #3F37C9;
	padding: 2rem 2rem;
	box-shadow: 21px 21px 83.9px black;
}

nav ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 40px;
}

body{
	background: #ffff;
	color: FFFFFF;
	font-family: monospace;
}