@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

nav{
	display: flex;
	position: relative;
  	top: 0px;
  	left: 50px;
  	right: 50px;
	height: 211px;
	width: 1440px;
	background: #3F37C9;
	box-shadow: 21px 21px 83.9px black;
	border: 10px solid black;
	border-radius: 50px;
}

h1{
	position: absolute;
	top: -62px;
	left: 0px;
}

nav ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 40px;
	position: absolute;
	justify-content: space-evenly;
	top: 20px;
	right: 30px;
}

body{
	background: #000000;
	color: white;
	font-family: "Space Mono", monospace;
  	font-weight: 400;
  	font-style: normal;
  	font-size: 49.53px;
}

header{
	position: relative;
	top: -100px;
  	left: 63px;
  	right: 65px;
}

img.layered-header-logo{
	position: absolute;
	top: 300px;
	right: 100px;
	left: 550px;
}

section{
	position: relative;
	top: -100px;
	left: 63px;
  	right: 65px;
  	background: #3F37C9;
  	height: 455px;
	width: 1440px;
}

p.text-1{
	position: absolute;
	top: 0px;
	left: 40px;
	right: 50px;
	margin: 10px;
}

p.text-2{
	position: absolute;
	top: 90px;
	left: 40px;
	right: 50px;
	margin: 10px;
}

footer{
	position: relative;
	background: #560BAD;
	top: -150px;
	left: 53px;
  	right: 65px;
  	height: 132px;
	width: 1440px;
	border: 10px solid black;
	border-radius: 50px;
}

footer ul{
	display: flex;
	color: white;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 0px;
	position: absolute;
	justify-content: space-evenly;
	top: 20px;
	left: 20px;
	right: 30px;
	font-family: "Space Mono", monospace;
  	font-weight: 700;
  	font-style: normal;
  	font-size: 35px;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}